<section class="footer center-container ">
    <div class="footer-containers">
        <div>
            <h3>AdroitHotel</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptates aut possimus aperiam ea adipisci, itaque minima distinctio hic iusto dignissimos, delectus libero nostrum temporibus perspiciatis est officia? Enim, soluta.</p>
        </div>
        <div>
            <h3>Quick Links</h3>
            <ul>
                <li>Accomodation</li>
                <li>Dining & Bar</li>
                <li>Resturants</li>
                <li>Beach and Resorts</li>
            </ul>
        </div>
        <div>
            <h3>Contact Information</h3>
            <address>123 Ikereku Extention, <br> Laderin, Ogun State, <br> Nigeria</address>
            <p><a href="tel+2348164950695">+2348164950695</a></p>
            <p><a href="#">info@AdroitHotel.com.ng</a></p>
            <p><a href="#"> adroithotel.com.ng</a></p>
            
        </div>
    </div>
</section>