<div class="header-nav">
    <h4>Adroit Hotel</h4>
    <nav>
        <ul>
            <li><a routerLink="/home" class="active">Home</a></li>
            <li><a routerLink="/room"> Rooms </a></li>
            <li><a routerLink="/dining">Dining & Bar</a></li>
            <li><a routerLink="/service">Services</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</div>
<!--  -======= Heaer section with the caurosel -->
<section class="section-header">
    <div class="header">
        <p> Information </p>
        <h4>About Us</h4>
        <div class="center-con">
            <button class="btn-secondary blue-bg"> View Details </button>
            <button class="btn-secondary orange-bg"> Know more </button>
        </div>
        
    </div>

</section>


<div class="rooms-container">
    <h2>Adroit Hotel</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quasi necessitatibus praesentium perferendis reiciendis voluptatibus omnis nobis quod voluptate. Aut.</p>

    <div class="room-list">       
        <div class="amenities">
            <h4> Welcome to our Hotel </h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam quisquam provident deleniti, incidunt ipsam cumque pariatur quae sunt delectus consectetur obcaecati in minus cupiditate totam velit expedita aut nobis ipsa?
            </p>
            <p>
                Deserunt aliquam illo beatae error obcaecati, blanditiis reiciendis quo saepe explicabo esse, distinctio debitis omnis, enim accusantium architecto dolorem. Illo doloremque ex saepe, perspiciatis iste facere distinctio vitae velit repudiandae, tempora voluptas! Reprehenderit, doloremque corrupti.
            </p>

        </div>
        <div class="margin-left">
            <img src="../../assets/imgs/img_bg_3.jpg" alt="" srcset="">
        </div>

    </div>
</div>


<!--  Newsletter form and footer section -->
<div class="news-letter">
    <div class="pos">
        <div class="">
            <h2> Sign up for Newsletter</h2>
        <h4>Get A 50% discounts in every Romms</h4>
        <input type="email" placeholder="Enter your mail" class="input">
        <input type="submit" value="subscribe">
        </div>
    </div>
</div>

<app-footer></app-footer>

