<div class="header-nav">
    <h4>Adroit Hotel</h4>
    <nav class="nav">
        <div class="bg">
            <ul>
                <span class ="close" onclick="this.parentElement.style.display='none'"> &times;</span>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li><a routerLink="/room"> Rooms </a></li>
                <li><a routerLink="/dining">Dining & Bar</a></li>
                <li><a routerLink="/service">Services</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        
    </nav>
    <span class="toggle" onclick="this.previousSibling.style.display='block'">
        &#9776;
    </span>
</div>
<!--  -======= Heaer section with the caurosel -->
<section class="section-header">
    <div class="header">
        <p> Accomodation </p>
        <h4>Our Services</h4>
        <div class="center-con">
            <button class="btn-secondary blue-bg"> View Details </button>
            <button class="btn-secondary orange-bg"> Know more </button>
        </div>
        
    </div>

</section>
<!--  ============ Rooms Section ===================== -->
<div class="rooms-container">
    <h2>Our Amenities</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quasi necessitatibus praesentium perferendis reiciendis voluptatibus omnis nobis quod voluptate. Aut.</p>

    <div class="room-list">
        <div class="margin-left">
            <img src="../../assets/imgs/amenities-1.jpg" alt="" srcset="">
        </div>
        <div class="amenities">
            <h4> Airport Shuttle and Park Lot</h4>
            <p class="price-margin"><span></span><span class="price">Free</span></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus similique culpa aliquam optio earum expedita, officia sunt deleniti dolorem, molestiae adipisci? Architecto aliquid itaque cumque!
            </p>
        </div>
        
        <div class="amenities">
            <h4>Room service </h4>
            <p class="price-margin"><span></span><span class="price">Free</span></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus similique culpa aliquam optio earum expedita, officia sunt deleniti dolorem, molestiae adipisci? Architecto aliquid itaque cumque!
            </p>

        </div>
        <div class="margin-left">
            <img src="../../assets/imgs/room-1.jpg" alt="" srcset="">
        </div>


        <div class="margin-left">
            <img src="../../assets/imgs/amenities-2.jpg" alt="" srcset="">
        </div>
        <div class="amenities">
            <h4> SPA & Beauty Center</h4>
            <p class="price-margin"><span>$</span><span class="price">59</span><span>/ per person</span></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus similique culpa aliquam optio earum expedita, officia sunt deleniti dolorem, molestiae adipisci? Architecto aliquid itaque cumque!
            </p>
        </div>

        <div class="amenities">
            <h4> Conference Hall for All Business Event </h4>
            <p class="price-margin"><span>$</span><span class="price">359</span><span>/ per night/room</span></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus similique culpa aliquam optio earum expedita, officia sunt deleniti dolorem, molestiae adipisci? Architecto aliquid itaque cumque!
            </p>
        </div>
        <div class="margin-left">
            <img src="../../assets/imgs/amenities-3.jpg" alt="" srcset="">
        </div>
        
    </div>
</div>

<!--  Newsletter form and footer section -->
<div class="news-letter">
    <div class="pos">
        <div class="">
            <h2> Sign up for Newsletter</h2>
        <h4>Get A 50% discounts in every Romms</h4>
        <input type="email" placeholder="Enter your mail" class="input">
        <input type="submit" value="subscribe">
        </div>
    </div>
</div>

<app-footer></app-footer>
