<div class="header-nav">
    <h4>Adroit Hotel</h4>
    <nav>
        <ul>
            <li><a routerLink="/home" class="active">Home</a></li>
            <li><a routerLink="/room"> Rooms </a></li>
            <li><a routerLink="/dining">Dining & Bar</a></li>
            <li><a routerLink="/service">Services</a></li>
            <li><a rounterLinl="/about">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</div>
<!--  -======= Heaer section with the caurosel -->
<section class="section-header">
    <div class="header">
        <p> Food Be Like  </p>
        <h4> Dining & Bar</h4>
        <div class="center-con">
            <button class="btn-secondary blue-bg"> View Details </button>
            <button class="btn-secondary orange-bg"> Know more </button>
        </div>
        
    </div>

</section>
<!--  ============ Rooms Section ===================== -->
<div class="rooms-container" *ngIf="isDisplayFood">
    <h2> Menus</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quasi necessitatibus praesentium perferendis reiciendis voluptatibus omnis nobis quod voluptate. Aut.</p>

    <div class="room-list">
        <div class="margin-left" *ngFor="let food of Foods">
            <img src="../../assets/imgs/{{food.image}}" alt="" srcset="">
            <div>
                <h5>{{food.name}}</h5>
                <p class="price-margin"><span>$</span><span class="price">{{food.price}}</span><span>/ per plate</span></p>
                <button class="btn-secondary blue-bg" (click)="foodOrder(food)">Order</button>
            </div>
        </div>
    </div>
</div>

<!--  ============== Drinks ================== -->
<div class="rooms-container" *ngIf="isDisplayDrink">
    <h2> Drinks</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quasi necessitatibus praesentium perferendis reiciendis voluptatibus omnis nobis quod voluptate. Aut.</p>

    <div class="room-list">
        <div class="margin-left" *ngFor="let drink of Drinks">
            <img src="../../assets/imgs/{{ drink.image}}" alt="" srcset="">
            <div>
                <h5>{{drink.name}}</h5>
                <p class="price-margin"><span>$</span><span class="price">{{drink.price}}</span><span>/ per night</span></p>
                <button class="btn-secondary blue-bg" (click)="drinkOrder(drink)">Order</button>
            </div>
        </div>
    </div>
</div>
<!--  ================Food order template ================= -->

<div class="rooms-container" *ngIf="isDisplayForm" id="form">
    <h2> Dining & Bar Booking </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quasi necessitatibus praesentium perferendis reiciendis voluptatibus omnis nobis quod voluptate. Aut.</p>

    <div class="form-width">
        <div>
            <form #bookForm ="ngForm">
                
                <!-- {{ bookForm.value | json}}
                {{ diningBookingDetails | json}} -->
                <div class="flex">
                    <div>
                        <label for=""> Room </label><br>
                        <input type="text" name="room" #room="ngModel"  [value]="foodName" [(ngModel)]="diningBookingDetails.food" >
                    </div>
                    <div>
                        <label for=""> Price </label><br>
                        <input type="text" name="price" [value]="foodPrice" [(ngModel)]="diningBookingDetails.price">
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <label for=""> Days </label><br>
                        <input type="number" name="number" placeholder="Numbers of Days" [(ngModel)]="diningBookingDetails.roomNo">
                    </div>
                    <div>
                        <label for="">Fullname </label><br>
                        <input type="text" name="name" placeholder="Fullname" [(ngModel)]="diningBookingDetails.name">
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <label for=""> Email </label><br>
                        <input type="email" name="email" placeholder="email address" [(ngModel)]="diningBookingDetails.email">
                    </div>
                    <div>
                        <label for=""> Phone </label><br>
                        <input type="text" name="phone" placeholder="Phone Number" [(ngModel)]="diningBookingDetails.phone">
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <label for=""> Time </label><br>
                        <input type="time" name="time" placeholder="Time" [(ngModel)]="diningBookingDetails.time">
                    </div>
                    <div>
                        <label for=""> Date </label><br>
                        <input type="date" name="date" placeholder="Date" [(ngModel)]="diningBookingDetails.date">
                    </div>
                </div>
                <button class="blue-bg btn-secondary" (click)="bookOn(bookForm.value)"> Book now</button>
            </form>
        </div>
    </div>
</div>


<!--  Newsletter form and footer section -->
<div class="news-letter">
    <div class="pos">
        <div class="">
            <h2> Sign up for Newsletter</h2>
        <h4>Get A 50% discounts in every Romms</h4>
        <input type="email" placeholder="Enter your mail" class="input">
        <input type="submit" value="subscribe">
        </div>
    </div>
</div>


<app-footer></app-footer>
