<div class="side-menu">
    <h4 class="logo"> Adroit Hotel</h4>

    <div class="menu">
        Main Menu
    </div>

    <div class="flex">
        <div>
            <div class="menu-list active">
                <a routerLink="/admin"> 
                    <div class="text-list">
                        <div>  Dashboard </div>
                    </div> 
                </a>
            </div>
        
            <div class="menu-list">
                <a routerLink="/booked-room"> 
                    <div class="text-list">
                        <div> Rooms </div>
                    </div> 
                </a>
            </div>

            <div class="menu-list">
                <a routerLink="/food"> 
                    <div class="text-list">
                        <div> Dining & Bar </div>
                    </div> 
                </a>
            </div>
        </div>

        <div class="bottom">
            <div class="menu-list">
                <a routerLink="/home"> 
                    <div class="text-list flex-link">
                        <img src="../../assets/imgs/notification.svg" alt="">
                        <div> Logout </div>
                    </div> 
                </a>
            </div>
        </div>
    </div>
</div>